.mario {
    width:150px;
    position: absolute;
    left: 80px;
    z-index: 1;
}
.goomba {
    width: 100px;
    position: absolute;
    left: 110px;
    top: 300px;
    z-index: 2;
}
.bowser {
    width: 150px;
    position: absolute;
    left: 950px;
    top: 150px;
    z-index: 3;
}
.baloon {
    width: 150px;
    position: absolute;
    left: 800px;
    top: 100px;
    z-index: 4;
}
.word {
    width: 100px;
    position: absolute;
    left:830px;
    top: 105px;
    z-index: 5;
}