    style>
        h1 {
            font-family: sans-serif;
        }
        p {
            font-weight: 600;
            font-size: 3em;
            font-style: initial;
            
        }
        body {
            font-size: 16px;
            line-height: 30px;
            text-align: start;
            text-decoration: line-through;
        }
        .yellow {
            color: yellow;
        }
        .red {
            color: red;
        }
        .brown {
            color: brown;
        }